body{
    font-family: 'Poppins', sans-serif;
}

.container{

    max-width: 1200px;
}

.mynavbar{

    background-color: #4741af;
}

.nav-link{

    color: white;
    font-size: 18px;
    font-weight: 700px;
    padding: 25px 0;
}

.navbar-brand{

color: white;
font-size: 45px;
font-weight: 700px;
}

.banner-title{

    font-size: 72px;
    font-weight: 800px;
}

.banner-subtitle{

    font-size: 24px;
    font-weight: 500px;
}

.banner-btn{

    background-color: #6C63FF;
    padding: 13px 55px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

.banner-btn:hover {

    color: #6C63FF;
    background-color: white;
}