body{
    font-family: 'Poppins', sans-serif;
}

.container{

    max-width: 1200px;
}

.mynavbar{

    background-color: #4741af;
    
}

.nav-link{

    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 0;
}

.navbar-brand{

color: white;
font-size: 45px;
font-weight: 700;
}

.banner-title{

    font-size: 72px;
    font-weight: 800;
}

.banner-subtitle{

    font-size: 24px;
    font-weight: 500;
}

.banner-btn{

    background-color: #6C63FF;
    padding: 13px 55px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

.banner-btn:hover {

    color: #6C63FF;
    background-color: white;
}

.text-subtitle{
color: #6C63FF;
font-size: 24px;
font-weight: 700;

}

.text-title{

    font-size: 48px;
    font-weight: 700;

}

.text-p{

    font-size: 18px;
    font-weight: 400;
}

.text-link{

    text-decoration: none;
    font-weight: 700;
}

.about-img{
    margin-left: -327px;
}

.service-background{

    background-color: #F3F9FB;
    width: 624px;
    height: 624px;
    border-radius: 50%;
}

.service-icon{
    background-color: #6C63FF;
    padding: 20px;
    border-radius: 50%;
}